<div class="flex flex-col gap-1 py-2 w-full">
    <label
            for="{{ field.vars.id }}"
            class="
            block text-sm font-medium
            {% if field.vars.errors|length > 0 %}
                text-red-900 dark:text-red-100
            {% else %}
                text-primary
            {% endif %}
            "
    >
        {{ field.vars.label }}
    </label>

    <input
            id="{{ field.vars.id }}"
            type="{{ type }}"
            value="{{ field.vars.value }}"
            name="{{ field.vars.full_name }}"
            {% if field.vars.attr.placeholder is defined %}placeholder="{{ field.vars.attr.placeholder }}"{% endif %}
            {% if field.vars.attr.autocomplete is defined %}autocomplete="{{ field.vars.attr.autocomplete }}"{% endif %}
            class="
            block w-full
            text-base rounded border-primary
            shadow-sm text-dark focus:border-primary
            focus:ring-primary sm:text-sm
            {% if field.vars.errors|length > 0 %}
            text-red-900
            bg-red-100
            border-red-300
            {% else %}
            text-dark
            bg-white
            border-primary
            {% endif %}
            "
    >

    {% if field.vars.errors|length > 0 %}
        <ul class="
        text-sm text-red-500
        ">
            {% for error in field.vars.errors %}
                <li><i class="fa-solid fa-triangle-exclamation"></i> {{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if field.vars.help is not empty %}
        <p class="
    text-sm
    {% if field.vars.errors|length > 0 %}
        text-red-500
    {% else %}
        text-gray-500
    {% endif %}
    "
        ><i class="fa-solid fa-circle-info"></i> {{ field.vars.help }}</p>
    {% endif %}
</div>