<ul class="flex gap-2.5 flex-row">
    <li>
        <a href="https://canthoche.thewebanswer.net/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">CantHoche</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/hoche/logo-primary-light.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/hoche/logo-primary-dark.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://impulsion.thewebanswer.net/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">Impulsion</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/impulsion/logo-primary-light.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/impulsion/logo-primary-dark.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://dj2v.fr" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">DJ2V</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/dj2v/logo-primary-light-gradient.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/dj2v/logo-primary-dark-gradient.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://music.thewebanswer.net/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">Music</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/music/logo-primary-light-gradient.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/music/logo-primary-dark-gradient.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://boilerplate.thewebanswer.net/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">Boilerplate</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/boilerplate/logo-primary-light.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/boilerplate/logo-primary-dark.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://hub.thewebanswer.net/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">hub</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/hub/logo-primary-light.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/hub/logo-primary-dark.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://mbozop.fr/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">mbozop</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/mbozop/logo-primary-light.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/mbozop/logo-primary-dark.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://tse.thewebanswer.net/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">TSE</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/tse/logo-primary-light.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/tse/logo-primary-dark.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://thewebanswer.net/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">TWA</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/twa/logo-primary-light.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/twa/logo-primary-dark.svg') }}" alt="">
        </a>
    </li>
    <li>
        <a href="https://discover.thewebanswer.net/" target="_blank" class="flex flex-row items-center gap-1">
            <span class="sr-only">Discover</span>
            <img width="25px" height="25px" class="hidden dark:block" src="{{ asset('logos/discover/logo-primary-light.svg') }}" alt="">
            <img width="25px" height="25px" class="block dark:hidden" src="{{ asset('logos/discover/logo-primary-dark.svg') }}" alt="">
        </a>
    </li>
</ul>