<nav aria-label="Page navigation example" class="flex justify-center py-2 rounded">
  <ul class="inline-flex items-center -space-x-px">
    {% if first is defined and current != first %}
    <li>
      <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-light dark:bg-dark border border-primary-light rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span>Début</span>
      </a>
    </li>
    {% endif %}
    {% if previous is defined %}
    <li>
      <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-light dark:bg-dark border border-primary-light hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <span class="sr-only">Précèdent</span>
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
      </a>
    </li>
    {% endif %}
    {% for page in pagesInRange %}
        {% if page != current %}
        <li>
            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="px-3 py-2 leading-tight text-gray-500 bg-light dark:bg-dark border border-primary-light hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page }}</a>
        </li>
        {% else %}
        <li>
            <span aria-current="page" class="z-10 px-3 py-2 leading-tight text-primary-dark border border-primary bg-primary-light hover:bg-primary-dark hover:text-light duration-300 cursor-pointer dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ page }}</a>
        </li>
        {% endif %}
    {% endfor %}
    {% if next is defined %}
    <li>
        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="block px-3 py-2 leading-tight text-gray-500 bg-light dark:bg-dark border border-primary-light  hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span class="sr-only">Suivant</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
    </li>
    {% endif %}

    {% if last is defined and current != last %}
    <li>
        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="block px-3 py-2 leading-tight text-gray-500 bg-light dark:bg-dark border border-primary-light rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            <span>Fin</span>
        </a>
    </li>
    {% endif %}
  </ul>
</nav>
