<span class="flex flex-row items-center">
    <img width="{{ w }}" height="{{ h }}" class="pr-2.5 block dark:hidden" src="{{ asset('logos/logo-primary-dark.svg') }}" alt="">
    <img width="{{ w }}" height="{{ h }}" class="pr-2.5 hidden dark:block" src="{{ asset('logos/logo-primary-light.svg') }}" alt="">
    <a href="{{ path('app_home') }}" class="text-dark dark:text-light">
        {{ app_title }}
    </a>
</span>