<a href="{{ path('app_home') }}">
    <img width="{{ w }}" class="block dark:hidden" src="{{ asset('logos/logo-primary-dark.svg') }}" alt="">
    <img width="{{ w }}" class="hidden dark:block" src="{{ asset('logos/logo-primary-light.svg') }}" alt="">
</a>