<button data-drawer-target="sidebar-{{ name }}" data-drawer-toggle="sidebar-{{ name }}" aria-controls="sidebar-{{ name }}" type="button"
        class="border-2 border-primary bg-primary duration-300 dark:hover:bg-primary-dark hover:bg-primary-light px-4 py-2 rounded gap-1 inline-flex items-center "
>
    <span class="sr-only">Ouvrir la barre latérale</span>
    <i class="fa-solid fa-bars"></i>
</button>

<aside id="sidebar-{{ name }}" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full" aria-label="Barre latérale">
    <div class="h-full px-4 py-4 overflow-y-auto bg-light dark:bg-dark">
        <button data-drawer-target="sidebar-{{ name }}" data-drawer-toggle="sidebar-{{ name }}" aria-controls="sidebar-{{ name }}" type="button"
                class="inline-flex items-center p-2 mt-1 text-slate-900 hover:bg-slate-900 hover:text-slate-100 duration-300 rounded sm:hidden dark:text-slate-100 dark:hover:text-slate-900 dark:hover:bg-slate-100"
        >
            <span class="sr-only">Ouvrir la barre latérale</span>
            <i class="fa-solid fa-bars"></i>
        </button>
        <ul class="space-y-2 pt-4">
            {% for item in items %}
                {% if item.icon is defined %}
                    {% include 'components/link/_nav-link.html.twig' with {
                        content: item.content,
                        path: item.path,
                        icon: item.icon
                    } %}
                {% else %}
                    {% include 'components/link/_nav-link.html.twig' with {
                        content: item.content,
                        path: item.path,
                    } %}
                {% endif%}
            {% endfor %}
        </ul>
    </div>
</aside>
